.map__container {
  height: 40vh;
  display: block;
}

.level-item > div{
  cursor: pointer;
}

hr {
  margin: 0;
}

.container {
  margin-top: 1em;
}

.level {
  margin-top: 1em;
}

.clocks {
  justify-content: space-between;
  margin: 0 1em;
}